[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/libsdl-org/freetype.git
	branch = VER-2-12-1-SDL
[submodule "external/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/libsdl-org/harfbuzz.git
	branch = 2.9.1-SDL
